[2019-03-18 12:59] godzeit opened #1 "Drag&Drop reorder between two lists"
Hello!

I am trying to create some sort of task manager exactly like in trello and your library solving my problem of drag&droping perfectly, but now fully. Can you please make possivle to drag&drop item of list between two and more lists.

![trello](https://user-images.githubusercontent.com/48680083/54529467-cd091e80-49a1-11e9-8385-aa4771f97105.gif)

[2019-03-25 14:48] psycry opened #2 "Support drag and drop with nested lists"
There may be a way to do this I'm overlooking, but whenever I nest wraps inside warps (or lists) and attempt to drag and drop the copying function seems to throw duplicate global key errors when I pick up the object.  The alternative is a sub-list that doesn't save state which isn't ideal.  I've tried some ways around this but it looks like the uuid library I'm using is possibly duplicating values

[2019-03-25 17:07] hanshengchiu commented on #2
Can you show some code of how this duplicate global key error happens?

[2019-03-25 17:11] hanshengchiu commented on #1
this way you would be mixing two lists and the definition of onReorder must be changed.

[2019-03-25 18:42] psycry commented on #2
Sure, I just kind of made this quickly but say you have 2 widgets with reorderableWraps, if you put the second inside the first and try to drag it doesn't handle the dragging and throws a key error.  I'm using these so that you can grow the list, it works fine on the top level but once you add the second it starts having issues with the conflicting keys, I'm assuming because of the way it's switch

[2019-03-25 18:45] psycry commented on #2
Sorry about the formatting it's not working correctly for some reason when I try to add it in a code block.

[2019-03-27 17:32] redsolver opened #3 "Can't drag and drop new item after added to list"
[code]
When pressing the FAB, an item is added, but the new item can't be dragged.

[2019-03-29 10:45] zzyyzz1992 opened #4 "Support Header Click& Sort"
I suggest 2 new features:
1) grant the title header to receive click action
2) add sort functions(i.e. compare function)

[2019-04-10 17:52] Frank0945 opened #5 "When I drag it, the error message shows "width is null""
I just used ReorderableColumn to match ListView.builder.

[2019-04-21 09:00] davidBarbieri commented on #5
Got the same error by copy/pasting the ReorderableSliverList example, i guess something has changed in some flutter update

[2019-04-22 18:32] app-o-matix commented on #2
@psycry
You need triple backticks for blocks of code. Single back ticks are for a single line or less. The code at the end that is formatting is doing so because indenting 4 spaces also works.

[code]

[2019-04-24 14:42] remygautron opened #7 "Children must have a key, but have !"
Hello, I have this error :
`All children of this widget must have a key.`

The Widget : (id is unique)
[code]

[code]

I've checked if _tiles is not empty, but still not working

[2019-04-25 10:18] QixianWu opened #8 "Invalid value:Not in range 0,inclusive: 1"
在使用ReorderableWrap的时候，children的数量初始化为0，通过添加数据的形式添加进列表，发现无法动态添加。

[2019-04-26 12:58] CheolHoJung opened #9 "Don't support border attribute in ReorderableTable?"
I try render border to ReorderableTable but, It not render border.

[code]
Is it not support yet?

[2019-04-26 14:35] apps-transround opened #10 "Add optional Dragable to LongPressDragable"
In certain cases immediate drag is preferred by users. Please add option to select Dragable or LongPressDragable while encapsulating children.
Thanks.

[2019-04-28 21:46] hanshengchiu commented on #3
fixed in 0.2.1

[2019-04-28 21:46] #3 closed

[2019-04-28 21:47] hanshengchiu commented on #8
fixed in 0.2.1

[2019-04-28 21:47] #8 closed

[2019-04-28 21:48] hanshengchiu commented on #9
Border isn't supported yet.

[2019-04-28 21:55] hanshengchiu commented on #7
Icon(Icons.filter_1, **key: ValueKey(1)**, size: _iconSize)

Your _tiles can be either empty or non-empty. However all widgets in the _tiles list must have the key property specified.

[2019-04-28 21:55] #7 closed

[2019-04-29 03:52] apps-transround commented on #10
That was quick, thanks.

[2019-04-29 03:52] #10 closed

[2019-04-29 20:11] hanshengchiu commented on #5
@davidBarbieri you meant this?
[code]

[2019-04-29 20:15] hanshengchiu commented on #5
@Frank0945 how did you "match" them? ListView.builder creates a ListView, not a list of elements, whereas ReorderableColumn is also a list-like view and it takes a list of elements as its children.

[2019-04-29 20:24] davidBarbieri commented on #5
Hey @hanshengchiu !
Yes, i just copied al the example in a new project and got the same width error.

[2019-04-30 11:40] hanshengchiu commented on #5
You may have forgotten to provide a ScrollController to the ScrollView that contains ReorderableSliverList. See https://github.com/hanshengchiu/reorderables/blob/master/example/lib/sliver_example.dart#L31

The example still works. You can uncomment sliver_example.dart#L52 and try it.

[2019-04-30 12:03] davidBarbieri commented on #5
Looks like you're right, the exapmle works, i used a scroll controller in my app, and tried many combinations...
Maybe the troble is caused by being inside a ScopedModelDescendant builder functions.
I'll have some more feedback in the next days

Thanks a lot for the plugin, it's just what i needed!!!!

[2019-05-01 18:22] hanshengchiu commented on #5
closing it for now. please reopen it if this is issue.

[2019-05-02 00:08] RyMo95 commented on #5
@davidBarbieri Hello David, did you find what was causing this in your project?  I'm facing the same issue where the example works but when adding to a component in my project I get thrown this error.

Thanks!

[2019-05-02 06:04] hanshengchiu commented on #5
@RyMo95 can you post your code?
This issue is largely related to scroll controller. I just updated the wrap example with SingleChildScrollView. FYR.

[2019-05-02 07:53] davidBarbieri commented on #5
Hey, i will try to post the code and have a detailed error log this evening.
I commented the block and used a normal SliverList in the meanwhile, was struggling with another part of the app but i'll have a look tonight

[2019-05-02 17:15] hanshengchiu commented on #2
this issue has just been fixed in v0.2.5 [pub](https://pub.dartlang.org/packages/reorderables/versions/0.2.5) An example of nesting wraps was also added.

[screenshot](https://github.com/hanshengchiu/reorderables/blob/master/example/gifs/nested_reorderable_wrap_small.gif?raw=true)

[2019-05-02 17:15] #2 closed

[2019-05-02 17:16] hanshengchiu commented on #5
if any of you is using ReorderableWrap, check out v0.2.5.

[2019-05-02 19:40] davidBarbieri commented on #5
I'm back with my example stripped to the bare minumum, and still getting the same width = null error.
At first i thought it was the Dismissable widget wrapping all my list items, but now i'm down to real basic widgets:
This is the code that is still not working, above this there is a MaterialApp rendering the widgets from the "onGenerateRoute" prop.
I attached a listener to the scroll controller t

[2019-05-02 20:01] davidBarbieri commented on #5
P.S. i'm using ScopedModel in my project:
[code]

[2019-05-05 19:12] hanshengchiu commented on #5
@davidBarbieri I can replicate your error without using ScopedModel.

[2019-05-05 20:19] davidBarbieri commented on #5
Thanks man, time to buy you a beer

[2019-05-05 23:26] nuc134r opened #11 "Add option to specify itemExtent in ReorderableSliverList"
I have a requirement in my app to display a prescrolled reorderable list and it takes unreasonable time to display it. It builds and measures height of all widgets all the way down to the needed ones which is pointless because all of them have fixed height.

I tried replacing SliverList with SliverFixedExtentList in package code and everything went fine except reordering itself. Which caused some

[2019-05-06 06:03] hanshengchiu commented on #11
hi can you provide some example?

[2019-05-06 07:31] nuc134r commented on #11
Sure. I will provide an example as soon as Monday rush ends. Thank you for the quick response. :)

[2019-05-06 10:50] hanshengchiu commented on #5
resolved in v0.2.6.
@davidBarbieri We also offer professional services (Deep Learning, AI, Flutter..). You can check our [website](https://yurusa.com)

[2019-05-06 10:50] #5 closed

[2019-05-08 21:30] nuc134r commented on #11
I checked out Flutter's ReorderableListView in meantime and to be honest it sucks. You did a really worth alternative. I love the animations and customizations and I really hope it is possible to make even better with `itemExtent` support.

Below are contents of `main.dart` on an empty `flutter create` project. It fully shows my scenario. I have a PageView which lags when prescrolled `ReorderableS

[2019-05-08 21:37] nuc134r commented on #11
![Here is a gif of the code above just in case](https://user-images.githubusercontent.com/13202642/57410028-614d7000-71f2-11e9-981b-d119e22b3f28.gif)

[2019-05-09 14:16] Nico04 commented on #10
Hi, in my understanding, the needsLongPressDraggable flag is only implemented in the Wrap Widget, I'd love to have it on the Column one too, is it possible please ?

[2019-05-10 18:52] hanshengchiu commented on #11
I see. Adding itemExtent creates an overflow when dragging starts. Need to be fixed.

[2019-05-11 09:10] davidBarbieri opened #12 "Reordering index to 0 instead of 1 when dragging above expanded FlexibleSpaceBar"
HI! Thanks again for the grat package.

I'm aving a little issue when i'm dragging items to the top with an expanded FlexibleSpaceBar:
I drag an item from any position to the top, if i stop dragging on the topmost tile, i'm correctly show the preview in the right place, and the TO index is correctly 1, but if i keep dragging on top of the Flexible bar, the preview tile animates sliding again above

[2019-05-11 13:30] hanshengchiu commented on #12
can show an example?

[2019-05-11 13:49] davidBarbieri commented on #12
I think it was actually an implementation problem, i have two nested lists rendered recursively, and didn't tell the inner list to render as normal ListView(within a tile of the parent list) , so there were 2 Reorderable Sliver lists one inside the other.
Works like a charm now.

[2019-05-11 13:49] #12 closed

[2019-05-11 14:52] hanshengchiu commented on #12
Today's update should let you nest multiple lists without problem, though I didn't verify it.

[2019-05-15 11:34] brunocalou opened #13 "Project breaks for Flutter 1.5.9"
Using the latest flutter version, the library breaks due to flutter changes on Diagnostics related features.

The error message is:

Compiler message:
file:///Users/brunocalou/Development/flutter/.pub-cache/hosted/pub.dartlang.org/reorderables-0.2.7/lib/src/widgets/reorderable_sliver.dart:76:16: Error: The argument type 'String' can't be assigned to the parameter type 'DiagnosticsNode'.
 - 'Diagno

[2019-05-15 18:37] Al4han opened #14 "Add callbacks for didNotReorder"
I would love to be able to tell if the LongPress Action was triggered but not used for a reorder. Maybe you could add a Callback to be called if no reorder happened.

Thanks a lot :)

[2019-05-16 11:52] hanshengchiu commented on #14
in such case the old index and new index should be the same.

[2019-05-16 12:21] Al4han commented on #14
exactly, but the onReorder-Callback only gets called if those values are different :)
for example from the ReorderableWrap-Widget:
`void _reorder(int startIndex, int endIndex) {
//      debugPrint('_reorder: startIndex:$startIndex endIndex:$endIndex');
      if (startIndex != endIndex) widget.onReorder(startIndex, endIndex);
      // Animates leftover space in the drop area closed.
      // TODO(d

[2019-05-16 13:47] hanshengchiu commented on #13
I'm using the latest flutter release. The version you use doesn't seem to be official yet.
[√] Flutter (Channel beta, v1.5.4-hotfix.2, on Microsoft Windows

[2019-05-16 13:47] #13 closed

[2019-05-16 14:36] remygautron opened #15 "Support for Cupernito"
Hello,

The plugin doesn't work if isn't a MaterialApp.

Maybe you can add a support for Cupernito or a trick ?

Thanks

[2019-05-16 14:36] hanshengchiu commented on #14
v0.2.8 added onNoReorder

[2019-05-16 14:36] #14 closed

[2019-05-16 14:39] hanshengchiu commented on #15
I've use material design only. Did you just replace MaterialApp with CupertinoApp?

[2019-05-16 14:40] remygautron commented on #15
Yes and doesn't work (assert error)

[2019-05-16 14:41] hanshengchiu commented on #11
Children's height keeps changing while reordering. So supporting itemExtent is a bit tricky. Putting it as an enhancement for now

[2019-05-16 14:54] nuc134r commented on #11
I would be very grateful if you could provide any pieces of code that get it at least partly working. Or maybe you could point some directions. It's highly critical to get it done for me so I am going to try fixing it on my own and PRing it later.

Anyway thank you for looking into the problem. May god bring peace to your land.

[2019-05-16 15:24] hanshengchiu commented on #15
v0.2.9

[2019-05-16 15:24] #15 closed

[2019-05-16 16:18] hanshengchiu commented on #11
You can uncomment https://github.com/hanshengchiu/reorderables/blob/master/lib/src/widgets/reorderable_sliver.dart#L930 so as to use SliverFixedExtentList. Code between line 864 and line 900 implements reorder animation by adding some sizable widgets. Hence fixing item extent affects animation and, in turn, affects reordering. IMHO the easiest solution it could work is without animation.

[2019-05-16 19:36] psycry commented on #2
Fixed code formatting (er... sort of, thanks for the tripple backtick information, the indent is probably still conflicting but since you copied it no point in updating any further).

Tested and can confirm this is working now at least at the nesting level I found it, I'm having some state issues but I probably need to change the code I had, was out of the country so didn't see my emails when you

[2019-05-17 02:23] apphost-plugins opened #16 "Allow iOS style reordering in SliverList"
Hi,

First of all, great plugin! Of all the solutions I've tried for reorderable SliverLists, this is by far the smoothest and cleanest.

It would be great to have the option to start the reorder operation in the iOS style. Instead of a long press anywhere on the sliver/tile, you would drag a handle icon to initiate the reorder. E.g.  [here](https://camo.githubusercontent.com/8fdbf96eb8050a560b771

[2019-05-25 13:50] XbIK opened #17 "Move top position to bottom on long list"
Wonderful package! Get one issue
Use **ReorderableSliverChildBuilderDelegate**, if the list is big and  I move the very first position (index [0]) to the bottom , so the FlexibleSpaceBar is collapsed and top of the list is not visible, after that the new index[0] is not draw on top.  I have to reopen the page and it appears.

[2019-05-25 14:10] hanshengchiu commented on #17
did it happen when you were using ReorderableSliverChildListDelegate?

[2019-05-25 14:20] XbIK commented on #17
Yes, with Delegate, and only when the list is big enough, so the top of it moves and hide FlexibleSpaceBar

[2019-05-26 18:25] adriancmurray opened #18 "Horizontal Sliver Reorderable inside other scrollables"
I needed to use this for a horizontal scroll list with dynamically created items. I could have used the ReorderableRow but I think that probably would work similarly to the SingleChildScrollView when paired with a List.generate() method (building all of the widgets regardless of where you are in the list). So I tried to use the Sliver reorderable but noticed that it only wanted to work in the vert

[2019-05-31 15:03] kevin-haynie opened #19 "LongPress bubble up"
Great package, thanks.

My only challenge at this point in using your package is being able to detect longPress on one of my items.  I want to continue to require the user to longPress to start the drag/drop operation so I can't just turn it off using your 'needsLongPressDraggable'.  Ideally what I need is  for me to pass into your Wrap constructor a callback which will get called whenever you det

[2019-05-31 15:35] kevin-haynie commented on #19
It looks like I might be able to use your ReorderableWrap.onNoReorder(int) callback method to know when a longpress has happened.  Is this your intended way to handle bubbling up longPresses?  I think this will work for me.

[2019-06-02 06:46] droidery opened #20 "needsLongPressDraggable with reorderable column"
Is there something similar to the `needsLongPressDraggable` param on `ReorderableWrap` for `ReorderableColumn`?

[2019-06-11 09:35] Nico04 commented on #13
I've got similar issue with last stable flutter and plugin v0.2.10.
plugin v0.2.9 works fine.

[2019-06-11 10:07] hanshengchiu commented on #13
What's your flutter version?
Mine is [√] Flutter (Channel beta, v1.6.3, on Microsoft Windows [Version 10.0.17763.529], locale en-US) and 0.2.10 works fine.

[2019-06-11 13:16] Nico04 commented on #13
I'm on the latest stable version :
[√] Flutter (Channel stable, v1.5.4-hotfix.2, on Microsoft Windows [Version 10.0.17763.529], locale en-GB)

[2019-06-11 14:27] hanshengchiu commented on #13
I think this is an incompatibility between flutter v1.5.4-hotfix.2 and newer versions. OP had the same issue with what I have with v1.6.3. Back then the change to FlutterErrorDetails hadn't been push forward to beta or stable channel. But now it has.
However your issue is the other way round. When a newer version of flutter is released on stable channel, v0.2.10 should work.

[2019-06-11 15:53] hanshengchiu commented on #20
Use v0.2.11+1

[2019-06-11 15:53] #20 closed

[2019-06-11 16:00] hanshengchiu commented on #19
Use onReorderStarted callback in v0.2.11+1.

onNoReorder indicates that a reorder operation completed without actual reorder. It doesn't fire when reordering starts.

[2019-06-11 16:00] #19 closed

[2019-06-12 07:48] Nico04 commented on #13
OK, I'll wait until september for the next release to update your package. Thanks.

[2019-06-12 09:53] fengyuxx opened #22 "Blink when dragging with some cached_network_image children"
If ReorderableWrap has some cached_network_image children, It is blink when I start or end dragging.

https://pub.dev/packages/cached_network_image

[2019-06-20 18:18] energynumbers commented on #13
Quoting from https://github.com/flutter/flutter/issues/31962

[2019-06-21 18:22] hanshengchiu commented on #13
Thanks for the info. In that case the two classes shouldn't have been exported. However the two classes are available as long as you include materials.dart or foundations.dart and the documentation doesn't say FlutterErrorDetails is Flutter-specific... I will remove it.

[2019-06-21 19:17] hanshengchiu commented on #13
v0.2.12

[2019-06-23 08:26] Tiebo opened #23 "Add animations when inserting or removing items from the lists"
I miss the feature that items not only animate when being reordered but also when entering and leaving the list.

Is this possible?

[2019-06-23 10:59] rsin46 opened #24 "Dragging On Short Press for ReorderableSliverList"
Hi hanshengchiu, through user trials, I've found that the default time to drag for ReorderableSliverList is too long.

I forked your code for my application and replaced LongPressDraggable with Draggable on line 739 as it provide for better user feedback. Users were not sure how to use the re-ordering otherwise.

[2019-06-24 18:56] fvisticot opened #25 "[grid] Constraints on elements size"
I would like to have the same mechanism of reorderable elements but I need different elements size :
By exemple:
A 3x3 grid with different reorderable elements:
-1x3
-2x2
-1x1

if I'm correct, he demo only implements 1x1 case

Is it possible with your framework ?

[2019-06-24 19:02] fvisticot opened #26 "[grid] Reordering issue"
I try to move a grid element from 1 row to the next row at the end (cf. video).
It does not work, i'm still obliged to move first on next row and move to the next column

![RPReplay_Final1561400603](https://user-images.githubusercontent.com/153679/60044616-0baa2580-96c3-11e9-927d-1f4bbd77ac1a.gif)

[2019-06-25 11:15] amitkhairnar44 opened #27 "The getter 'width' was called on null"
Hello, I got this issue when I used ReorderableColumn inside the Stepper widget.
Stepper > Step > Form > Column > ReorderableColumn.
Whenever I long press the UI for dragging it produces this error:
[code]

[2019-06-27 14:48] Nico04 commented on #27
I've got the same issue (with ReorderableColumn) with a more complexe project, but I found out that it occurs only when there are other scroll widget in the tree.
Weither it's a ListView, a SingleChildScrollView...

I've edited the end of your ColumnExample2 to help you fix this issue :

`    return Material(
      child: Card(
        child: Column(
          children: <Widget>[
            reord

[2019-06-27 15:35] Nico04 commented on #27
I've juste realized that the same error (ScrollController attached to multiple scroll views) happens in the same way with Flutter/ReorderableListView.

This may help you resolve it
https://github.com/flutter/flutter/pull/31666

[2019-06-27 20:34] bitk0der opened #28 "Staggered wrap"
Hello, is there any way to layout children in a staggered manner? Because, if children has different height, it looks not very good.

![NOW](https://user-images.githubusercontent.com/2844392/60298851-9ace6c00-9955-11e9-8a5a-33991c095c74.png)

![BETTER](https://user-images.githubusercontent.com/2844392/60298858-a02bb680-9955-11e9-8614-2dd92b0460f7.png)

[2019-06-30 17:06] amitkhairnar44 commented on #27
@Nico04 Thank you for explaining this. Waiting for the pull request to get merged

[2019-07-03 16:12] nametable commented on #22
I am noticing this issue too with just regular images as children. Images reload when drag starts and when drag ends. This is fine for small images that can load quickly but it introduces some visual latency when multiple large images are present.

After starting to drag - once images are loaded - dragging works fine and images don't continue to reload until release.

[2019-07-04 07:56] Nico04 commented on #27
Unfortunately I will not take the time to make a pull request, if that's what you were waiting for, I'll wait for your bugfix.
Thanks 😉

[2019-07-08 21:23] fvisticot commented on #26
any update ?

[2019-07-08 21:24] fvisticot commented on #25
I really would be very interested in this feature, do you have any plan to implement it ?

[2019-07-16 13:05] Nico04 commented on #27
I found a workaround : just assign a new ScrollController to the scrollController parameter :
`ReorderableColumn(
  scrollController: ScrollController()
)`

[2019-07-21 06:17] mkaarthick commented on #28
@bitk0der Oh yea! I was looking for the same

[2019-07-27 18:23] akarabach opened #31 "How to disable drag for some item ?"
I don't want to allow drag some items. Is it supported out of the box?

[2019-07-30 00:45] hanshengchiu commented on #31
There are optional header and footer items that are not draggable.

[2019-07-30 11:32] #31 closed

[2019-08-09 21:47] nuc134r commented on #11
I moved to another library which doesn't have issues with prescrolled lists but only supports SliverList. Maybe it could be useful for folks who might stumble upon this issue.

https://github.com/knopp/flutter_reorderable_list

Thanks for your work anyway. :)

[2019-08-12 21:16] fvisticot commented on #26
Do you plan to maintain this plugin ? I need to know if you have a roadmap on this plugin

[2019-08-14 14:00] FelixYew commented on #17
Thanks for the cool package! I also facing the same problem the first item will disappear when dragging to the bottom of a very long list. Any workaround?

[2019-08-14 22:23] hyperpanthera opened #32 "Allow button wrap"
Like in here: https://github.com/knopp/flutter_reorderable_list

[2019-08-16 16:56] hyperpanthera opened #33 "Button Sorting"
Please let it be controlled through a button.

[2019-08-16 17:25] ByTE1974 commented on #28
Please!

[2019-08-18 08:35] arunkumarsubburaj opened #34 "Leading widget consumes entire tile width. Please use a sized widget."
I am creating music player application. In the Queue Songs page I added reorderableSliver list. But whenever I try to drag a list item from it, it throws the blow error. Can you please check this if it is related to control level or did i construct the list in wrong way.

The error:

I/flutter (27359): The following assertion was thrown during performLayout():
I/flutter (27359): Leading widget con

[2019-08-19 16:17] hyperpanthera opened #35 "Allow reordering, even with onLongPress() of GestureDetector"
When there is a GestureDetector given with onLongPress(), the reordering doesn't work anymore. In my case a PopupMenu opens up on the items in my ReorderableWrap and the reordering simply doesn't work. It would be optimal if it works, even if a PopupMenu pops up.

[2019-08-20 11:01] unamed000 opened #36 "Allow to choose which row can be ordered"
In my Flutter app, i have a functionality which let the user order activities in days, the problem is the package doesn't have any functionality to prevent ordering such a row (in this case it's Days rows).

Example:
--- Day 1 ---
--Activity 1--
--Activity 2--
--Activity 3--
--- Day 2 ---
--Activity 4--
--Activity 5--
--Activity 6--

Can we have a workaround for this one?

Thanks.

[2019-08-29 10:06] rablexxx opened #37 "Callback for start reordering"
Hello!
Is there a way to detect start of reordering? Maybe it would be useful to add a callback function for this?
Thanks in advance

[2019-09-01 17:40] khalithartmann commented on #28
would love to have this feature ...

[2019-09-04 08:06] JonathanSiddle commented on #23
Hey! Did you manage to get this working? Does anyone have any pointers about how to implement this?

[2019-09-05 04:53] hanshengchiu commented on #37
why do you need to know the start of reordering?

[2019-09-05 07:22] rablexxx commented on #37
I need to update other parts of UI (set some flags, stop animations, etc.)

[2019-09-07 20:32] csells opened #38 "How do I provide grab handles for desktop-form factor devices?"
Like the web or desktop with a mouse where long press isn't appropriate.

[2019-09-11 08:59] andreddie81 commented on #35
similar problem here...`GestureDetector` absorbs `onLongPress` and reordering in missing

[2019-09-12 07:43] Nico04 commented on #16
Any plans on this feature request ?
It would be very usefull for a number of use cases :)

[2019-09-12 11:01] Nico04 opened #39 "Disable reorder operations (enable property)"
I use this in a page in which an editMode can be toggled on/off.
When editMode is true, I use ReorderableColumn, when it is off, I rebuild the page with a normal list.
Is works ok, but as it is not the same list widget, all the inner state is lost (like scroll position, and child widget state too), which is quite sad.
It would be perfect if the ReorderableColumn (and the others Widget of your pack

[2019-09-18 08:59] andreddie81 opened #41 "Reorderable Row: padding not working"
I am using the ReorderableRow like this:

ReorderableRow(
                        padding: EdgeInsets.only(left: 10),
                        mainAxisAlignment: MainAxisAlignment.start,
                        needsLongPressDraggable: true,
                        scrollController: ScrollController(),
                        onReorder: _onReorder,
                        children: ...........,

[2019-09-24 14:08] deandreamatias commented on #34
Please fix the description. This format link `#1 #2 #3 ...` with the issues. Thanks

[2019-09-24 14:39] deandreamatias opened #42 "[grid] Move item to beyond the liston the screen"
When the list is longer than the screen and I try to move the note beyond the list on the screen, the screen does not scroll down.
I would like to know if this is mapped or not.
Thanks.

Version plugin: 0.2.12
OS: Whatever

[2019-10-08 08:10] masooddalman commented on #1
how to mixing two list?

[2019-10-25 01:25] kevincherryholme commented on #17
Any idea if there is a workaround for this? Really need this fixed.

[2019-10-25 12:09] jimmyff opened #43 "Disabling disabling order/drag for certain tiles."
I'm using this to allow the ordering of photographs in my app. I have a 3x2 grid of photo tiles, I'm using the `ReorderableWrap` widget. I fill the empty photo tiles with a tile with tile that contains a `+` icon, when tapped starts the upload new photo workflow. I would like it so these empty tiles cannot be reordered.  It's would be only possible to reorder the tiles that are populated with phot

[2019-10-26 10:10] sterrenburg commented on #34
I am experiencing a similar issue when using `ListTile` inside the builder of `ReorderableSliverChildBuilderDelegate` on version ^0.2.12.

Here is the simplified snippet:

[code]

After the long press, once the widget gets rebuilt (and before reordering), the following error is thrown:

[code]

[2019-11-12 09:59] CoderXiaoming opened #44 "ScrollController attached to multiple scroll views"
![Snip20191112_2](https://user-images.githubusercontent.com/23111683/68661523-0d8f5b00-0576-11ea-9c5a-8962035f8396.png)
![Snip20191112_3](https://user-images.githubusercontent.com/23111683/68661532-13853c00-0576-11ea-8f67-91ce6bcb0b16.png)

[2019-11-13 11:30] joielechong commented on #23
This library has the capability to animate when item is deleted:
https://github.com/fluttercandies/flutter_draggable_container

But the main problem is, afaik, there is no capability to remove item manually.

I'm stick to use reorderables library for now, though the animation is nice to have.

[2019-11-19 07:25] g123k commented on #43
Hello,

I have created a PR for this use-case.
If you want to test it: https://github.com/hanshengchiu/reorderables/pull/45

[2019-11-21 11:30] jamesblasco commented on #28
You could use https://github.com/letsar/flutter_staggered_grid_view for that.
The only problem is that is not reordenable. It would be awesome if it could be created a ReordenableStaggeredGridView 😍

[2019-11-26 13:52] davidBarbieri commented on #24
Would be great to be able to have this as an option, or be able to specify and a widget within the tile to work as a handler

[2019-11-26 16:02] YXXxxx commented on #1
how to mixing two list? + 1

[2019-11-26 16:03] YXXxxx commented on #1
how to mixing two list? + 1

[2019-12-19 17:17] jimmyff opened #49 "Does not work after upgrading to flutter v1.13.3"
Getting the following error:

[code]

[2019-12-26 20:35] baughmann opened #50 "Option to drag item outside of list to an external component to perform an action"
I'm new to Flutter and to this project, but Id like to look into adding an optional feature to this library. It would be useful to the user to drag items outside of the list to perform some action on them, such as dragging them to a "trash can" or something.

I'll clone this library and start playing around with it, but it would be nice if someone could point me in the right direction to start exp

[2020-01-01 12:13] #27 closed

[2020-01-17 13:53] georgeherby commented on #49
@hanshengchiu Can you please merge the PR mentioned :)

[2020-01-18 06:53] #49 closed

[2020-01-19 19:26] tuanha2000vn opened #52 "Flutter beta update break this lovely package :("
Help, my project can no longer build :(

[code]

[code]

[2020-01-19 19:46] georgeherby commented on #52
Fixed in #51 and is being released with #53

[2020-01-21 04:47] kwent commented on #27
@hanshengchiu Still happening on https://github.com/hanshengchiu/reorderables/commit/56578adc64d9a924ba82b129c2dac788ceddd016 even after https://github.com/hanshengchiu/reorderables/pull/48

[2020-01-21 10:56] larssn commented on #52
For now do (in pubspec):
[code]

[2020-01-23 04:32] JulianBissekkou commented on #52
Thanks for the fix!
When will a new version be published to pub?

[2020-02-19 15:15] ramojus opened #57 "scrollController not working"
When I add a scrollController, I get RenderFlex overflowed which doesn't happen without scrollController and when I try to do something with controller I get this error:
"Unhandled Exception: 'package:flutter/src/widgets/scroll_controller.dart': Failed assertion: line 110 pos 12: '_positions.isNotEmpty': ScrollController not attached to any scroll views."

[2020-02-27 09:31] Ahmadre opened #58 "Importing nothing (?)"
## Version: 0.2.12

[code]

<img width="486" alt="Bildschirmfoto 2020-02-27 um 10 30 24" src="https://user-images.githubusercontent.com/18512224/75430830-2d436700-594c-11ea-8a73-9cf3003cd832.png">

🤔 🤔

[2020-02-27 10:51] achinverma commented on #49
@jimmyff , i am getting the same error. did you find any solution for this?

[2020-02-27 12:37] achinverma opened #59 "Error while adding library."
I am getting the below error.

Version :
reorderables: ^0.2.12

Compiler message:
../../../.pub-cache/hosted/pub.dartlang.org/reorderables-0.2.12/lib/src/widgets/reorderable_flex.dart:727:18: Error: The argument type 'Null Function(Key)' can't be assigned to the parameter type 'void Function(Object)'.
 - 'Key' is from 'package:flutter/src/foundation/key.dart' ('../../../flutter-sdk/packages/flutte

[2020-02-27 12:56] achinverma commented on #59
![image](https://user-images.githubusercontent.com/2811593/75447099-b4b1ca00-598e-11ea-9402-aac343a82395.png)

[2020-02-27 22:20] Ahmadre commented on #59
@achinverma which Flutter version and channel are you using? I got similar issues

[2020-02-28 03:39] achinverma commented on #59
@Ahmadre , I am using below.
Flutter 1.13.6-pre.32 • channel master
Dart 2.8.0 (build 2.8.0-dev.0.0 c260e4e8da)

[2020-02-28 03:50] Ahmadre commented on #59
Try to upgrade your master version and dart version and retry it.

[2020-02-28 04:02] impure commented on #34
I had this issue and fixed it in #60

[2020-02-28 07:05] achinverma commented on #59
@Ahmadre , is it possible to fix this library issue in my flutter version. ?
I can not upgrade during my project development.

[2020-02-28 07:48] ariyn97 commented on #34
I'm having same issue.  Any solutions ?

[2020-02-28 09:20] unveloper opened #61 "Drag customization of list items"
Hi!

It's possible to have a class or a mixin to wrap list items which gives the ability of drag behaviour customization like:

1. enable / disable drag (already asked https://github.com/hanshengchiu/reorderables/issues/43)
2. define which widget of the list item is the draggable element (the whole item itself or a child drag handle for example)

Thanks

[2020-02-28 14:01] jimmyff commented on #49
@achinverma I'm afraid I took the package out of my project due to this problem with the intention of checking if it was fixed in the future.

[2020-02-28 16:35] qwert2603 commented on #59
You can fork the project, fix errors, and then use your fixed version in your project. You can depend on Github projects in pubspec.yaml.
See "Dependencies on unpublished packages" in
https://flutter.dev/docs/development/packages-and-plugins/using-packages

[2020-02-29 10:40] georgeherby commented on #49
This is fixed and one master. Unfortunately it was not versioned. See this comment for how to reference this in pubsec

https://github.com/hanshengchiu/reorderables/issues/52#issuecomment-576629145

[2020-03-06 14:07] andreddie81 commented on #50
looking into the same problem and missing the exact same functionality, hope the author of the library responds.

[2020-03-08 11:59] nitneuq33 opened #62 "Not saved after initState"
Hello, How can I save and load last position ? I want to let user customize his dashboard but if the app is reload I need that the load his dashboard combinaison. thank you

[2020-03-10 10:17] #39 closed

[2020-03-10 14:08] hanshengchiu commented on #34
@impure @ariyn97 Could you try v0.3.0?

[2020-03-10 15:08] hanshengchiu commented on #52
v0.3.0 onwards

[2020-03-10 15:08] #52 closed

[2020-03-10 15:09] #37 closed

[2020-03-10 15:12] hanshengchiu commented on #43
v0.3.1

[2020-03-10 15:12] #43 closed

[2020-03-10 15:13] hanshengchiu commented on #61
check out v0.3.1

[2020-03-10 15:13] #61 closed

[2020-03-10 15:14] hanshengchiu commented on #59
v0.3.0

[2020-03-10 15:14] #59 closed

[2020-03-10 15:14] hanshengchiu commented on #36
v0.3.1

[2020-03-10 15:14] #36 closed

[2020-03-10 15:15] hanshengchiu commented on #44
could you provide test code?

[2020-03-10 15:18] hanshengchiu commented on #58
v0.3.0

[2020-03-10 15:18] #58 closed

[2020-03-10 15:19] hanshengchiu commented on #57
Could you try v0.3.1 or provide some test code?

[2020-03-10 15:41] hanshengchiu commented on #50
Feel free to submit PR. Maybe what you need is just simple drag and drop.

[2020-03-11 02:01] impure commented on #34
Yes, it's working. Not sure if it's the same issue the OP was having though.

[2020-03-11 07:54] unveloper commented on #61
Thanks but I can't find the example for the second point, implementing a drag handle.
I mean something like this:
https://therubberduckdev.files.wordpress.com/2017/10/recyclerview-manual-drag-drop.gif?w=1100

So you can reorder an object only if long press the "hamburger icon" on the right.

[2020-03-12 01:51] #34 closed

[2020-03-22 21:22] dinbtechit commented on #43
Thanks for the great feature. I was looking for it; for a long time. Just curious is there an way to prevent dragging the `ReorderableWidget` `reorderable: false` beyond the disabled items?

Adding the below logic in `_onReorder` seems to prevent reordering beyond the disabled indexes. Is there a way to disabled the drag-able animation as well?

[code]
![IlDaZ6nleO](https://user-images.githubuserc

[2020-03-30 16:37] dhiyaaulauliyaa opened #63 "Add elevation (shadow) option while dragging"
Hi, my name is Ado, and I am using your package to develop an app.

First of all, thanks for this great plugin! This plugin has solved my problem with making a reorderable list in a sliver list.

However, I encountered a problem when I want to change the elevation when the object is dragged. It'll be great if you can provide the option to change the elevation/shadow.

I am looking forward to heari

[2020-03-30 17:19] dhiyaaulauliyaa commented on #63
Hello!

After surfing for a while on this repo, finally I found the solution to change the elevation when the object is dragged. I just have to make my own buildDraggableFeedback.

Thank you!

[2020-03-30 17:19] #63 closed

[2020-04-03 03:56] ianspryn opened #64 "Focus cannot be kept on textfield in a ReorderableColumn"
There are quite a few ways to cause the issue

1. `requestFocus()` on a `TextField` right after it is built that exists in a ReorderableColumn, then tap the submit in the keyboard to dismiss the keyboard and unfocus the text field. After doing this, tapping the text field will cause the keyboard to flash and immediately disappear, and the text field does __not__ gain focus. However, tapping it at

[2020-04-16 18:11] souzantero opened #65 "Exception when try build two ReorderableWrap"
════════ Exception caught by gesture library ═══════════════════════════════════
Assertion failed:
../…/widgets/drag_target.dart:536
_candidateAvatars.contains(avatar) || _rejectedAvatars.contains(avatar)
is not true

My Code:

[code]

Leaving only one call to the '_wrap' method works normally. like that:

[code]

[2020-04-18 12:40] Levaru opened #66 "Drag Items from outside into the list"
Hi, first of all great package. I'm looking for the functionality of adding new items to the list by dragging them from outside (for example a bottom bar filled with icons that represent the desired item) and then dropping them at the desired position inbetween other items.

I was thinking of using a DraggableWidget to initiate the drag outside the list and then add the corresponding item to the r

[2020-04-21 18:06] oscarlindenbaum commented on #66
@Levaru I was trying something similar, here is a way to simply add it but only to the end of the list. I do want to end up being able to drag it to a certain position and also to drag out to remove.

[code]

[2020-04-27 14:46] jimmyff commented on #66
@Levaru I thinking having two lists (the first only containing a single item) would provide the behavior you are wanting.

I also am wanting to do this. There is an issue for it but it's not been updated in a long time:
https://github.com/hanshengchiu/reorderables/issues/1

[2020-05-05 03:50] barees63 commented on #16
I'd like this feature also..

[2020-05-09 09:28] daveleenew opened #67 "ReorderableWrap disabled property"
Can be dragged in edit mode, otherwise it cannot be dragged

[2020-05-16 06:43] yati989 opened #68 "Reorderable Wrap not working with provider package!"
I am using reorderableWrap for a list of containers with IconButtons children. In the function onPressed of IconButton, I am using a provider instance it works fine for tapping but as soon as I lift the icon up with long-press it shows me an error
"Could not find the correct Provider<SomeWidget> above this Example Widget"
it's obviously there otherwise onTap would haven't worked itself.
Please Hel

[2020-05-20 12:48] #65 closed

[2020-05-21 18:20] ElmouradiAmine commented on #63
Thank you! :)

[2020-05-22 08:42] JulianBissekkou commented on #68
Are you using the correct context when accessing your provider?

[2020-06-02 13:45] linuxjet opened #70 "crossAxisCount for ReorderableWrap"
would if be possible to add crossAxisCount to the ReorderableWrap so that specifying a cell width was not needed.  Similar like SliverGrid?

[2020-06-03 11:35] saisantosh2095 commented on #44
If you are using a **ListView** or a **GridView** along with **"ReorderableWrap"**, specify controllers for the other ListViews or GridViews taht solved the issue in my case.

[2020-06-07 17:56] jefflyne opened #71 "ReorderableWrap, not working with provider, children only appear if you navigate twice."
Using Provider I have to navigate to the same screen twice to get my children widgets to show. And if I navigate to a different version of the same screen, the reorderable objects that are visible are those from the first screen. If I replace my _tiles list with the example,  ie. Icon(Icons.filter_1, size: _iconSize), etc, then they load on the first page load. I checked StackOverflow but did not

[2020-06-08 15:17] truthmast commented on #37
Can this be merged into master? I'm using my own fork for now because of this requirement.

[2020-06-12 13:20] Levaru opened #72 "How do I keep the state of my widget after reordering it?"
Here is my stackoverflow question where I explain everything in detail: [Link](https://stackoverflow.com/questions/62308917/how-do-i-keep-my-widget-state-when-reordering-them-via-draggabledragtarget)

[2020-06-15 21:49] INotDisposable commented on #72
That's really weird - I would also expect StatefulWidget to maintain its state during and after the dragging.  I'm using the 'get' package these days to keep UI state and UI drawing completely separate, but the behavior you describe is pretty surprising.  Thanks for the simple StatefulWidget sample in the stackoverflow post - I'm going to take a look at that, reproduce, and then see if I can figur

[2020-06-18 00:47] INotDisposable commented on #72
Okay, so what's happening is that the `TestWidget` is being removed and re-added to the widget tree when a drag event starts.  When this happens, `createState` on the `TestWidget` being dragged gets called and creates a new `State` object with the default blue color.  The comment in the code around `toWrap` is correct, a global key is needed to preserve state.  However, where the global key is rea

[2020-06-20 20:26] DaleBeckles opened #73 "Resolve ReorderableTable ScrollController conflict"
An error : ScrollController attached to multiple scroll views occurred when ReorderableTable exists with other scroll views. This appears to be similar to issue  #31666.

[2020-06-20 20:30] DaleBeckles opened #74 "Remove parameter from ReorderableTable constructor"
It appears that there is an unneeded parameter in the ReorderableTable constructor. It is the last parameter and is named [thi].

  ReorderableTable(
      {Key key,
      this.children = const <ReorderableTableRow>[],
      this.columnWidths,
      this.defaultColumnWidth = const FlexColumnWidth(1.0),
      this.textDirection,
      this.border,
      this.defaultVerticalAlignment = TableCellVert

[2020-06-21 02:42] #71 closed

[2020-06-21 02:43] jefflyne commented on #71
Sorry, it was a problem with my build method! Had my code wrapped in an Initialization check.

[2020-06-29 00:25] doppio commented on #72
This seems directly related to a bug in the official Flutter `ReorderableListView: https://github.com/flutter/flutter/issues/58364`

[2020-06-29 18:57] furkanvatandas commented on #68
Same issue with bloc, when I drag images it shows "BlocProvider.of() called with a context that does not contain a Bloc of type ImagesBloc"

[2020-06-30 15:45] yati989 commented on #68
That exactly what the problem was. I change the context to a widget higher in the tree and it's working fine.

[2020-06-30 15:45] #68 closed

[2020-07-04 17:07] mdkess commented on #50
One thing I've done is use a DragTarget<int> to drag things outside. You'll get the index within the reorderable, and it seems to work well.

[2020-07-06 13:13] #50 closed

[2020-07-10 10:54] Antzy opened #75 "onReorderStarted for ReorderableColumn"
I have a ReorderableColumn  with elements which stretch to fill width. Problem is that their height is too much and so dragging is difficult. I want to collapse the list elements to just the title when reordering is started.
I tried it out with ReorderableWrap and it works fine but moving an element to the first position is near impossible for some reason. Placing in all other positions is pretty

[2020-07-13 13:14] NicolasCELLA opened #76 "ReorderableSliverList on drag change background color ?"
Hello an idea how to change the background color when the item is drag ?

![Image](https://s3.eu-west-3.amazonaws.com/pikomit/chats/images/gXq7KRH1IiENtdSA9VfTjPzGazr1re1594646041217.jpg)

[2020-07-16 21:08] FloatingStar commented on #76
Add draggable feedback to your ReorderableWidget.
[code]

[2020-07-17 10:23] NicolasCELLA commented on #76
@FloatingStar nice thx 👌

[2020-07-17 10:23] #76 closed

[2020-07-18 16:40] ahmedmehanna opened #77 "ReorderableWrap - individual child non-reorderable"
ReorderableWrap needs to support making individual child non-reorderable

[2020-07-23 11:23] magpiedigital commented on #77
I'd like this functionality also

[2020-07-23 12:41] MaximMonakhov commented on #73
Have the same issue, but with ReorderableWrap. But in fact, i dont have any ScrollControllers. Package just wont work

[code]

[2020-07-23 13:48] ashkryab-fl opened #78 "Moving multiple elements at the same time."
how to prevent a user from moving multiple items at the same time?

[2020-07-27 13:40] nibo opened #79 "ReorderableColumn : The getter 'width' was called on null."
I am using the "ReorderableColumn" but get stuck sometimes in a NoSuchMethodError Exception.

        The following NoSuchMethodError was thrown building Builder(dirty):
        The getter 'width' was called on null.
        Receiver: null
        Tried calling: width

It happend when the "buildDragTarget" get called in :

       BoxConstraints contentSizeConstraints = BoxConstraints.loose(_draggi

[2020-07-28 05:40] nibo commented on #79
quick fix by myself : #80

[2020-07-30 09:51] andrros3030 commented on #79
still doesn't work. Now items are poped to small grey points (

[2020-07-30 10:00] nibo commented on #79
Here is my widget implementation -> still working!

Material(
      color: Colors.transparent,
      child: Padding(
        padding: DefaultInsets.insetsBottom8,
        child: SingleChildScrollView(
          physics: physics,
          padding: childInsets,
          child: Container(
            width: double.infinity,
            child: ReorderableColumn(
              scrollController: contr

[2020-07-31 07:06] RaviKavaiya commented on #23
@hanshengchiu any updates??

[2020-07-31 08:36] Tiebo commented on #23
@RaviKavaiya hey, check out this package, it does exactely this.

https://pub.dev/packages/implicitly_animated_reorderable_list

[2020-07-31 08:46] RaviKavaiya commented on #23
@Tiebo that is good. But, that package doesn't work with Slivers..

[2020-08-03 08:39] LHMing01 opened #81 "How to control whether the whole is draggable"
How to control whether the whole is draggable，Can be controlled like a switch

[2020-08-04 06:17] crizant opened #82 "The example is not working"
Hi, I tried to run the example on iOS simulator, here is the output:

[code]

flutter version:
[code]

[2020-08-09 17:49] emvaized commented on #66
@Levaru
Did you managed to achieve 'drag out to remove' functionality?

[2020-08-12 07:42] 152dyn opened #84 "How do I hide a placeholder widget in its original location after a drag?"

[2020-08-13 13:11] Levaru commented on #66
@emvaized
Yes, I did. It involves some modifications to the package source code though.

1.  You need to remove [this](https://github.com/hanshengchiu/reorderables/blob/7eb2b7f257fd907cf1e79239d644ddfb767416af/lib/src/widgets/reorderable_flex.dart#L570) line or make it a comment. If you don't have LongPressDraggable functionality then remove/comment out the same line for the [Draggable](https://gi

[2020-08-15 04:44] emvaized commented on #66
@Levaru
Well, I'm using `ReordableWrap` widget, and in his case it simply doesn't have the line you mentioned...
And all the `DragTarget` widgets just don't react to the dragged element for some reason, even onHover callback with `print() `function is not called.

![Uploading Screenshot_20200815_074211.png…]()

[2020-08-17 10:53] Levaru commented on #66
@emvaized

In that case I believe you don't have the movement restriction along the axis so you can skip it.

You need to create the DragTarget the same way as in this [line of code](https://github.com/hanshengchiu/reorderables/blob/7eb2b7f257fd907cf1e79239d644ddfb767416af/lib/src/widgets/reorderable_flex.dart#L689). So `DragTarget<Key>` would be the correct way but it's interesting that `DragTarg

[2020-08-27 16:16] xakeppok opened #86 "How can i use drag and drop only by icon ?"
![Screenshot 2020-08-27 at 19 15 47](https://user-images.githubusercontent.com/49212875/91467873-da665000-e899-11ea-8626-069c4e78ad6e.png)

[2020-08-29 11:55] emvaized commented on #66
@Levaru
Well, sounds really complicated 😅
Not sure if I can handle it, but thanks a lot for the idea!

[2020-09-05 07:20] Taewook-hotsunny commented on #81
I am curious about this too. I am trying to work it out but it is not working

[2020-09-17 10:27] royston-c opened #87 "ReorderableWidget reorderable flag is not honoured in a ReorderableSliverList"
If `addRepaintBoundaries: true` or  `addSemanticIndexes: false` the line below is never honoured.

https://github.com/hanshengchiu/reorderables/blob/7eb2b7f257fd907cf1e79239d644ddfb767416af/lib/src/widgets/reorderable_sliver.dart#L742

**Solution 1:**
We could pass through a `reorderable` flag to the `_wrap` method

https://github.com/hanshengchiu/reorderables/blob/7eb2b7f257fd907cf1e79239d644ddfb

[2020-09-17 13:51] NicolasCELLA opened #88 "Change vibration onLongPress ?"
Hello,

Any idea how to change the vibration onLongPress ?

Thx for your time 👌

[2020-09-18 04:05] e-e opened #89 "ReorderableWrap - disable reordering for specific items"
Is it possible to disable drag for specific items in the `ReorderableWrap` class? My specific use case is to create a photo upload screen that allows a user to upload a set number of images, building up a grid as they add photos. I would like the last item in the grid to be a "+" button used for adding the next image, but i do not want them to be able to reorder this item.

[2020-09-22 05:37] rizzi37 opened #91 "how to listen onReordering?"
i want change my container size when recording~

how can i do?

[2020-09-22 06:23] rizzi37 commented on #91
ok. i found buildDraggableFeedback.

[2020-09-22 06:23] #91 closed

[2020-09-22 12:48] renejeronimus opened #92 "Stack widget no longer supports overflow: Overflow.clip"
After the latest flutter upgrade, the Stack widget no longer supports overflow: Overflow.clip. Within the reordable_wrap.dart, the Widget 'dragTarget' still uses this configuration (line 986), causing a build error. The recommendation is to replate overflow with clipBehavior.

The migration guide -> [https://flutter.dev/go/clip-behavior](https://flutter.dev/go/clip-behavior)

[2020-09-23 13:07] datayeah commented on #92
This issue made it's way from flutter master branch into flutter dev branch yesterday. Would be great to have a fix for this.

[2020-09-27 00:10] Eerey opened #93 "Make duration of reordering a named parameter"
[code]

Please make this accessible in for the Widget [ReorderableWrap]

[2020-09-29 19:16] mrpvb-pvbk commented on #66
We need examples for it

[2020-09-30 16:01] mrpvb-pvbk commented on #1
+1

[2020-10-08 02:05] 0wzZZzz6 opened #94 "ReorderableTableRow style"
Is it possible to style the ReorderableTableRow?

[2020-10-09 09:45] omerman commented on #86
Havent tried it.. but can you maybe use a gesture detector for long press on everything but the icon, and pass it an empty `onLongPress`

[2020-10-13 02:43] 0wzZZzz6 commented on #94
I try to use the decoration in ReorderableTableRow but its not working as expected

[code]

[2020-10-13 22:26] alanmfb commented on #34
In my case, I was returning a Container ().
I switched to a Container (width: 1) and it worked

[2020-10-16 15:13] Slava96 opened #95 "Nested lists"
Can we use this ReorderableList on another SliverList?
Because i need list of lists - because i have models grouped by some key.
And i build a separator with key text, and below list of models that relates to it.

[2020-10-17 21:47] Victor-Dev77 commented on #89
I've the same problem for the same use...

[2020-10-19 12:02] MostafaSolimanMO opened #96 "Directional of reordering item is always in ltr"
The main directional with rtl, but when I tried to use the ReorderableSliverChildBuilderDelegate, the directional of reordering item is always in ltr

[2020-10-19 12:14] MostafaSolimanMO commented on #96
fixed by wrap the returned widget of ReorderableSliverChildBuilderDelegate to Directionality with rtl text direction.

[2020-10-19 12:14] #96 closed

[2020-10-21 14:36] DenchikBY commented on #79
Works for me too! You have to add ScrollController for ReorderableRow

[2020-10-25 06:53] devon opened #97 "How about support sortable tree?"
This is a wonderful flutter plugin and works very well on the sortable list.

But when I try the example of the nest list, I can only drag-drop items at the same level.  It would be great if it works like a tree,  check this example: https://github.com/frontend-collective/react-sortable-tree

[2020-11-03 08:23] shihuayong commented on #84
I have the same question.

[2020-11-13 12:30] NicolasCELLA opened #98 "onDragStared on ReorderableSliverList"
Hello it's possible to have onDragStared on ReorderableSliverList ?

[2020-11-18 17:25] erperejildo opened #100 "ReorderableSliverList icon"
Can we enable an icon/element to sort the elements without long press? Clicking on a different part of the widget won't do anything

[2020-11-19 01:29] erperejildo opened #101 "Different reorderable lists together"
I was trying the example and I'd like to know how can I put the `WrapExample()` in on of the rows of the `SliverExample()`.

I get this when dragging the wrapper:

[code]

[2020-11-21 08:27] harjindersinghbobby commented on #27
thanks this works for me

[2020-12-03 03:15] peakerWu commented on #89
I've the same problem for the same use.

[2020-12-09 04:21] HeebeLee commented on #23
I also like this feature. Now, flutter has a lot of animation list components, including SliverAnimatedList, AnimatedList. Can it be updated so that we can insert data and delete data in animation?

@hanshengchiu

[2020-12-11 14:41] hanshengchiu commented on #23
@HeebeLee do you know how to do it?

[2020-12-11 14:50] HeebeLee commented on #23
No, I don't know what to do. Because it requires a lot of familiarity with the two components, which is a little too hard for me.

I think it should be easier for you. Maybe you can find ideas in the AnimatedList. If you can, please take some time to finish it. Thank you.

[2020-12-11 14:59] hanshengchiu commented on #82
Could you try stable channel?

[2020-12-11 15:10] hanshengchiu commented on #23
Maybe you could try to replace the base class with SliverAnimatedList. I'm not sure if it's gonna work.

[2020-12-16 05:42] e-e commented on #89
In the meantime, in case that can help someone else, this is roughly my workaround:

[code]

The button is still draggable, but will always be render in the last position.

[2020-12-17 18:05] Kal-Elx commented on #89
@e-e I'm doing the same thing.

I'm solving this by wrapping the non movable widgets in:
[code]

[2020-12-22 14:11] abdullah432 commented on #34
If you're returning Container then put width and height for container.
**For example:**
This code will throw error
[code]
And this will not
[code]

[2020-12-30 07:24] JosephNK commented on #44
@saisantosh2095 I solved it in the way you told me. Thank you. :)

[2021-01-01 14:18] theashggl commented on #34
This worked for me too. But don't know what will happen when that container os to be shown.

[2021-01-02 12:51] ilkercankaya opened #103 "ReorderableSliverList Drag does not work with Provider library"
I have setup a simple change notifier provider.

[code]

MyList:
[code]

ItemVisual:
[code]

On long press and drag seems to not work with Provider. We can temporarly work around this with having try catch within provider but its a workaround :)

[2021-01-08 00:26] nyarian opened #104 "Null-safety support PR"
There is a null-safety migrated fork of the current master branch: https://github.com/Three-Horsemen-of-Software-Engineering/reorderables/tree/beta/nullsafety_migration

It would be nice if it could be merged into a separate branch in this repository, but the only option repositories can interact here (afaik) is PRs across forks, and a separate target branch is needed for null-safety support, beca

[2021-01-10 20:45] volser commented on #1
any update?

[2021-01-11 06:48] diickens commented on #89
@Kal-Elx good workaround.. but the problem is the Tile is still reordable (move another tile on its place) would be nice to have the ability to deactivate that.

[2021-01-13 12:43] Kal-Elx commented on #89
@diickens Yes, my solution was to enforce that in `onReorder`. It's quite easy if you just want to ensure that tiles can't be moved beyond the unmovable tile like in a photo upload screen.

Here's how I implemented it. You can also take a look at the rest of the widget for inspiration on a photo upload screen.

https://github.com/dibbs-team/dibbs/blob/main/lib/widgets/upload/image_sequence_picker/

[2021-01-13 14:22] Klingefjord commented on #77
+1 to this. Workaround is to wrap items that you don't want to be reorderable in `IgnorePointer()` but that doesn't allow for other touch events

[2021-01-15 14:43] mattia-venturini commented on #89
If the item that should not be draggable is the first or the last you can use either the parameter `header` or `footer`. They seem to work fine.

[2021-01-18 18:43] linjonathan2001 opened #107 "ReorderableWrap drag background color is red"
How do I change it to Colors.transparent?

I've tried Theme(data: ThemeData(canvasColor: Colors.transparent, child: ReorderableWrap()))

[2021-02-02 10:58] wonpyohong commented on #28
No plan..?

[2021-02-20 14:27] muhlba91 opened #108 "null-safety support"
null-saftey/nnbd made it into the beta channel a week ago. Is there progress ongoing for migrating the plugin to support nnbd and can we expect a version soon-ish?

[2021-03-07 19:23] Arcturus5404 commented on #108
Also wondering this! any update?

[2021-03-10 15:39] diegotori opened #110 "Can we please get another release?"
@hanshengchiu as the title states, seeing that you recently merged in null-safety changes, is there any chance that you can please deploy another release to pub.dev, so that folks such as myself can upgrade to null-safety?

Thanks in advance.

[2021-03-10 19:51] hanshengchiu commented on #110
@diegotori it seems null-safety is a breaking change? According to https://dart.dev/null-safety/migration-guide

[2021-03-10 19:53] diegotori commented on #110
It's supposed to be. Lots of other developers have been offering major release versions supporting null-safety. In this case, I propose that it be released as a version `1.0.0` for example, so that it doesn't affect the existing releases.

[2021-03-15 02:51] diegotori commented on #110
@hanshengchiu any update on this, since this is one of the few dependencies preventing me from adopting sound null-safety in my app. Thank you in advance.

[2021-03-15 09:57] Arcturus5404 commented on #110
Bump!

[2021-03-17 05:57] hanshengchiu commented on #110
will do, but just need to sort out few things this week

[2021-03-17 06:00] hanshengchiu commented on #110
any way I can setup automated release whenever there's a new pull request merged?

[2021-03-17 13:27] Arcturus5404 commented on #110
Thanks @hanshengchiu !

[2021-03-17 14:29] diegotori commented on #110
@hanshengchiu To my knowledge, there's no easy way to automate the deployment of new pub.dev releases.

Alternatively, you can designate people to deploy new releases on your behalf using `pub uploader` and that person's email address. Also, you can designate other folks as maintainers in addition to yourself so that others can approve/merge code on your behalf.

[2021-03-19 11:22] hanshengchiu commented on #110
But the building process must still happen in Android Studio?
I remember asking some if he could help, however people have priorities.

[2021-03-19 14:12] diegotori commented on #110
The build process can happen through command line actually. I mean if you need someone to act as an uploader, I'm available.

[2021-03-20 08:08] hanshengchiu commented on #110
@diegotori That'd be great. An uploader invitation and a collaborator invitation should have been sent to your email.

[2021-03-20 11:34] i3games opened #111 "Does not work on Flutter 2"
Hi,

Here is my setup

[code]

1. I tried with code from `ReorderableWrap Demo`. The +/- Buttons work, but no touch (Android) or click (Web) is detected. Nothing happens, no error messages.

2. I tried to run the example code (folder example) with Android and Web. On Android it throws an error, on Web the result is as above.

This is the Android Debug output from the example code:

[code]
━━━━━━━━

[2021-03-20 21:18] diegotori commented on #110
@hanshengchiu received them and accepted them. I'm gonna try to release a new build. However, I need to know what version to release it under? Is this a `1.0.0` release, or more of a `0.4.0` release? Once you let me know, I'll update the version commit and push the change. Then publish it to pub.dev.

[2021-03-21 03:32] diegotori commented on #110
@hanshengchiu I created a PR to address all of the remaining issues before deploying `0.4.0`.

[2021-03-23 02:42] bdlukaa opened #113 "Can't use Flexible inside ReorderableRow"
I'm trying to use a `Flexible` inside `ReorderableRow`, but it says it has the wrong ancestor: a `Semantics` widget.

I took a look at the code and it seems you're wrapping each child in a `Semantics` widget, impossibiliting the use of `Flexible`s and `Expanded`s:

[code]

<details>
  <summary>Full log</summary>
The following assertion was thrown while applying parent data.:
Incorrect use of Paren

[2021-03-23 09:47] Arcturus5404 commented on #110
If the changes are breaking, consider updating to 1.0.0, otherwise, 0.4.0 sounds fine?

[2021-03-24 04:33] hanshengchiu commented on #110
Merged. Let's go with 0.4.

[2021-03-24 04:35] hanshengchiu commented on #104
Closing as nullsafety is being addressed in master

[2021-03-24 04:35] #104 closed

[2021-03-24 04:42] diegotori commented on #110
Roger.

[2021-03-24 05:00] diegotori commented on #111
@i3games just released version `0.4.0` to pub.dev a few minutes ago, with support for Null-Safety. Please give that a try. Thanks.

[2021-03-24 05:13] hanshengchiu commented on #111
@i3games I tried on emulator and it worked. Did you tap and hold?

[2021-03-24 05:16] diegotori commented on #113
Looks like `ReorderableFlex`, which is `ReorderableRow`'s parent, doesn't extend Flex. Rather, it re-implements that class so that it works in a reorderable fashion. As a workaround, you could wrap your `Flexible` with either a `Row` or `Column`, which does extend `Flex`:

[code]

[2021-03-24 05:17] diegotori commented on #110
Version `0.4.0` should already be live on pub.dev with Null-Safety in tow.

[2021-03-24 05:29] hanshengchiu commented on #110
Thumbs up and huge thanks to @diegotori

[2021-03-24 05:29] #110 closed

[2021-03-24 06:58] Arcturus5404 commented on #110
Thanks guys! Much appreciated!!

[2021-03-24 09:38] AnhJobChat opened #114 "How to end dragging or update dragging item?"
As title, is there anyway to end drag?
And update dragging item?
Example: I have a list [A, B, C], I move A => [B, A, C] and keep dragging. And when I changed data in list like [D, B C, A]
how to keep dragging item not change position => [D, A, C ,B]

[2021-03-24 14:04] bdlukaa commented on #113
Thanks for this workaround 🤗

[2021-03-24 14:34] #113 closed

[2021-03-25 15:48] kaciula commented on #111
Does not work for me either. Using 0.4.0 or 0.3.2 on Android. Nothing happens when I keep pressing and holding on the list items. I am using a plain ReorderableList.

[2021-03-27 00:08] diegotori commented on #111
After testing on both an Android Emulator, a Pixel 4 (my own personal device), and on web via Chrome, it definitely works. The trick is to tap and hold until it displays the drag and drop UI. Ideally, the example apps could be better if each row was wrapped in a container that took up the width of the parent. Nevertheless, it is working on all supported platforms.

[2021-03-27 00:10] diegotori commented on #111
@kaciula and @i3games, if you still believe that there is an issue, we do accept demo apps that reproduce the issue at hand. If you give us that, then we have something to evaluate and hopefully find a solution if there is indeed an issue.

[2021-03-27 18:56] i3games commented on #111
The demo app is the **example in folder 'example'**.

To reproduce (current master branch, 0.4.0):

## Android

1. Download master from Github.
2. Open the example in IntelliJ
3. Run on Android device

Result:
Errors / Exceptions thrown:

[code]

## Web

3. Run on Web(Chrome)

Output:
[code]

Klick on "Reorderable Wrap". Try to move the pieces / Long press.

Result: Pieces don't move.

**IntelliJ

[2021-03-27 20:42] diegotori commented on #111
@i3games the first issue you reported, that's an easy fix. TL;DR: `RenderTabluarFlex._overflow` should be initially set to `0` and not set to `late`. This is how `RenderFlex` is implemented in Flutter, which `TabluarFlex` re-implements. That will get PR'ed very shortly.

[2021-03-29 03:39] 3111279132 commented on #89
This is available; thanks

[2021-04-01 09:38] nguyenleanhkhoa opened #116 "Item in list was gone when i hold click in item to drag"
<img width="344" alt="Screen Shot 2021-04-01 at 16 33 05" src="https://user-images.githubusercontent.com/13627112/113274696-2bdf2d80-9308-11eb-9ca8-325d9ba591f8.png">
<img width="324" alt="Screen Shot 2021-04-01 at 16 32 55" src="https://user-images.githubusercontent.com/13627112/113274702-2c77c400-9308-11eb-83f3-46886f25ab1d.png">
====================
And I got this error , and I don't know why .

[2021-04-07 16:21] jamesdixon commented on #42
Ran into this as well. Any ideas on this?

[2021-04-11 02:51] diegotori commented on #116
@nguyenleanhkhoa this might be related to pending PR #106. Hopefully, once that's merged, I'll be able to release a new version.

[2021-04-11 20:48] diegotori commented on #111
@i3games Just published version `0.4.1`. Please let me know if this suffices. Thanks.

[2021-04-11 20:49] diegotori commented on #116
@nguyenleanhkhoa just released version `0.4.1` to pub.dev. Please let me know if this suffices. Thanks.

[2021-04-12 10:28] jackfong66 opened #117 "Does not work on Web?"
Does not work on Web?

Cannot click and drag

[2021-04-12 20:42] i3games commented on #111
Unfortunately I am still not able to test on Android, because the example still throws the error below. Would it be possible to fix the example code in order to make it available for testing?

[code]

[2021-04-14 01:11] #44 closed

[2021-04-15 02:22] 1203556555 opened #118 "A bug after adding foot"
![image](https://user-images.githubusercontent.com/18067025/114804534-01937280-9dd4-11eb-9b3d-a3dce712e0a5.png)
![image](https://user-images.githubusercontent.com/18067025/114804592-20920480-9dd4-11eb-9449-e826270f72bd.png)
Move items quickly, resulting in layout errors.
I think it is caused by animation.

[2021-04-17 11:20] rockingdice opened #119 "Not working when slowly dragging"
I dunno if it's a bug or a feature. It's not usable.
https://user-images.githubusercontent.com/3458134/115111196-b5058e00-9fb1-11eb-929f-55af9ad0ab03.mp4

[2021-04-17 11:24] rockingdice commented on #119
Mac OS. Flutter stable 2.0.1. Using a ReorderableWrap with 5 containers as children.

[2021-04-17 13:40] diegotori commented on #119
@rockingdice can you please post a reproducible example repo? That way me and @hanshengchiu can take a look? Thanks in advance.

[2021-04-17 16:33] rockingdice commented on #119
@diegotori Thank you for your quick reply! I found it's related to another package named 'touch_indicator'.

pubspec add:
touch_indicator: ^1.0.3

use `--no-sound-null-safety` if you are using null-safety because the package does not support.

You can try this code:
[code]

You may reproduce the issue from my video.

I checked the code from `touch_indicator`, but don't have a clue.

[2021-04-17 16:47] rockingdice commented on #119
And one more question - I don't know why the dragTarget is splitted into two parts, the left and right parts. Why not just use one dragTarget? Because the experience is not good, the dragging item will not replace the one it's hovering.

[2021-04-19 10:48] wszeborowskimateusz opened #120 "ReorderableWrap loses it's children state on dragging"
**Reproducible example**
(For some reason github doesn't format the code I enter :/)
https://ideone.com/x9ik8G

**Expected behaviour**
I would expect that the state of a widget would be preserved.

**Actual behaviour**
State of every widget is lost when I start to drag any of the item. No matter if I add a key or not.

[2021-04-23 15:37] ryanjacktaylor commented on #117
Same. I'm trying to use ReorderableRow and click and drag isn't working.

[2021-05-01 17:10] georgesDaou commented on #1
Any Update On this Issue?
Its a Very important and useful feature. Dragging Items and ordering them between two lists is a game changer.

[2021-05-07 12:26] HUA616436641 opened #122 "scrollController donot attach to scrollview in ReorderableFlex"
![image](https://user-images.githubusercontent.com/17864476/117448332-30cf7680-af71-11eb-9249-4e91bb4727dc.png)
this is the differences between v0.3.2 and v0.4.1，scrollerController.hasClients() return true in v0.3.2 but false in v0.4.1。
Is it a mistake or intentional change ？

[2021-05-12 12:10] nxr836 commented on #117
Totally not working.

[2021-05-13 03:27] KuuBee commented on #89
This can also take effect
[code]

[2021-05-18 02:52] jagrdev commented on #73
Setting `ignorePrimaryScrollController: true,` has solved my problem

[2021-05-25 08:22] ersanKolay commented on #117
It works flawlessly on the web. Long press on the item and drag it. Don't forget to long press!

[2021-05-28 20:43] z0rgoyok opened #123 "Lock item position"
Plz, can I lock some item in this manner?

https://youtu.be/tsqT4MMlSsQ

it does not change position. the other elements flow around it

[2021-06-03 19:40] linjonathan2001 commented on #107
I've tried all of the ThemeData values:
backgroundColor: Colors.transparent,
primaryColor: Colors.transparent,
primaryColorLight: Colors.transparent,
primaryColorDark: Colors.transparent,
accentColor: Colors.transparent,
canvasColor: Colors.transparent,
shadowColor: Colors.transparent,
scaffoldBackgroundColor: Colors.transparent,
bottomAppBarColor: Colors.transparent,
cardColor: Colors.transparent

[2021-06-16 15:15] yoniker commented on #89
This is the most native solution I can see, but still this allows to change the position of non-draggables by dragging over, and the footer widget doesn't obey the same placement rules as the other widgets (for example in a Wrap it's "after" the wrap eg underneath instead of whereever the next element would have been in a wrap).

 @diegotori I'm facing the exact same scenario and I can see that th

[2021-06-16 15:27] yoniker commented on #123
Possible duplication of https://github.com/hanshengchiu/reorderables/issues/89

[2021-06-16 15:29] z0rgoyok commented on #123
No, in my case I want to be able to drag the element at will, but so that other elements do not affect it

[2021-06-18 08:09] seekcx commented on #64
Is there a solution to this problem?

[2021-06-18 08:50] seekcx opened #124 "The text field cannot be focused."
[code]

[2021-06-21 16:39] gidrokolbaska opened #125 "How to get rid of white background when item is inside padding and how to increase the size of an item on drag"

[2021-06-21 16:41] gidrokolbaska commented on #125
![simulator_screenshot_164713C9-F668-43D3-92C2-2E09D19E0E79](https://user-images.githubusercontent.com/54116985/122797971-b95b6980-d2c8-11eb-9a9e-7f9ec9a5c3a3.png)

[2021-07-01 14:16] jlnrrg commented on #125
You are searching for `buildDraggableFeedback`.
There are multiple issues here which target the parameter, so feel free to look around. An example would be #63.

[2021-07-03 14:52] renancaraujo commented on #72
I tried to fix that with the same approach as flutter/flutter#58364 was fixed with no success, internally there are so many commented code and so many anti-patterns (like saving widget instances on the state) that it was a risky move to keep going.

[2021-07-06 16:43] alexursul opened #126 "Is it possible to activate dragging immediately, not on long press?"
Is it possible to activate dragging immediately, not on long press? It would be super nice to have a possibility to reduce the time before an item is activated and become draggable.

[2021-07-14 07:46] cmsong-shina commented on #126
Well, maybe. try below

[code]

[2021-07-19 20:54] jbrechbuehl opened #127 "ReorderableRow with mainAxisAlignment: MainAxisAlignment.end"
Hi,

it seems ReorderableRow  mainAxisAlignment doesn't work with MainAxisAlignment.end:

[code]
![image](https://user-images.githubusercontent.com/49820169/126225861-5393bc92-34ba-4f70-9069-57ecc9d0ef28.png)

[2021-07-20 08:44] jbrechbuehl commented on #127
I "fixed" it with Align:
[code]

[2021-07-26 08:41] WieFel commented on #120
+1

[2021-07-26 14:39] andrros3030 commented on #42
Ran into this problem too.
Screen is not scrolling when Widget node contains another scrollable widget, ex:
Scaffold->ListView->ReorderableColumn

[2021-08-04 02:15] daehan-lim commented on #24
Is there an option for that now?

[2021-08-05 06:59] adilexperience commented on #34
I used title: for long content and leading:/trailing: for 1 widget only. problem resolved for me. I hope this might help someone :)

[2021-08-05 13:24] metelskiwiktor commented on #126
Works perfectly, thanks

[2021-08-12 11:40] sunjianan9900 opened #128 "Wrong Animate shows When Reverse is true"
seems like it dislocation for 1 item
but normal on Reverse is false

[2021-08-13 04:36] eggyot opened #129 "how to event click item?"
can I click the item and get the position?

[2021-08-13 15:28] noliran commented on #120
Still relevant with 0.4.1. Adding a global key also doesn't seem to solve the issue as it seems during drag & drop the widget is present twice in the tree?

[2021-08-21 12:25] datdefboi commented on #107
Hi, i've fixed that with this snippet:
[code]

[2021-08-21 12:37] datdefboi commented on #129
index or top left corner position of an element?

[2021-08-21 14:06] linjonathan2001 commented on #107
Unfortunately, this did not work. It made all text in the widget red while dragging.

Regardless, the issue seems to have resolved itself because I don't see the red background anymore even though I haven't changed the code.

[2021-08-21 14:06] #107 closed

[2021-08-24 04:26] feinstein opened #130 "ReordableGridView?"
It would be very interesting to have the same ReordableWrap features, but for a GridView.

[2021-09-04 06:57] kpk-i710 opened #132 "bug - does not import the package"
now created a clean project installed reorderables: ^ 0.4.1 no errors, but when import 'package: reorderables / reorderables.dart'; doing red and not importing what could be the error?

[2021-09-04 07:20] kpk-i710 commented on #132
with git import works git:
       url: https://github.com/hanshengchiu/reorderables.git

[2021-09-05 20:22] Oliver530 commented on #77
+1

[2021-09-07 21:19] linjonathan2001 commented on #67
This would be a great feature

[2021-09-12 07:44] ikakaxi commented on #103
thank you

[2021-09-16 07:32] #75 closed

[2021-09-16 07:36] #117 closed

[2021-09-23 22:35] luis-cruzt commented on #124
Any solution?

[2021-09-23 22:43] edsson-madrigal commented on #64
is there any workaround on this problem?

[2021-09-27 21:58] magician20 opened #133 "Drag and drop not working"
I tried the example for drag and drop but not working.
can someone refer to good documentation

[2021-10-11 06:08] srihariash999 opened #135 "ReorderableWrap cannot move any other indexed item to index 0. All other operations work."
In a reorderable wrap. No element further down the list can be placed at index 0. They come upto index 1 and not any further.

If you try moving items from top to any place at bottom, it works absolutely fine. But cannot move any item from botttom to absolute top.

[2021-11-19 18:09] Vanee-Trident opened #137 "Not able to drag to end of list"
Hi,
I am facing issue in trying to drag an item to end of list. Any suggestions?

[2021-11-30 11:34] Suhrt commented on #135
I had similar issue, correcting the index fixed things for me

[code]

[2021-12-01 05:20] srihariash999 commented on #135
I think this workaround is fine for now. As the author is not active. Thanks @Suhrt

[2021-12-01 05:20] #135 closed

[2021-12-03 05:04] diegotori commented on #135
@srihariash999 can you create a reproducible example for this issue, so that either myself or @hanshengchiu can review? Thanks in advance.

[2021-12-03 12:07] srihariash999 commented on #135
@diegotori i can provide it over this weekend.

[2021-12-21 02:10] kenan2002 commented on #126
Is there a similar config for ReorderableSliverList?

[2022-01-22 05:44] cgowthamanmca opened #141 "Prevent some postion"
I need to prevent to drag any position

[2022-01-22 06:00] cgowthamanmca commented on #89
Thanks lot

[2022-02-02 15:31] Kristina-Isakovich opened #142 "How to add custom draggingWidget?"
Is it possible to change the widget below where the draggable widget currently resides? Now you can only change the opacity.

[2022-02-23 02:22] JaidynBluesky commented on #133
Have you made sure you were either long-pressing the item, or set `needsLongPressDraggable` to false?

[2022-03-01 07:26] bxrhhy commented on #34
i solve this problem in this way,thanks

[2022-03-02 07:46] sunjianan9900 opened #144 "How can I remove shadow on moving？"
hey，How can I remove shadow on moving？
![image](https://user-images.githubusercontent.com/10936316/156317442-d148a556-359e-4fc2-83ae-ae489a197fdf.png)

[2022-03-02 07:50] #144 closed

[2022-03-04 09:50] oloshe commented on #22
I encounterd it too, is there a way to resolve?

[2022-03-08 10:02] oloshe commented on #22
It seems only happens in IOS : |

[2022-03-08 17:30] diegotori commented on #22
@fengyuxx can you create an example app that reproduces this issue? Thanks in advance.

[2022-03-21 09:46] GCamanes opened #146 "ReorderableWrap: adding scroll controller causes exception"
Hi @hanshengchiu,

First I need to say that your plugin is amazing and our team love it. Now we face a feature that need some control on the scrollview containing the ReorderableWrap widget.

## Exception log
The problem is, when we add a scroll controller, we got two exceptions when trying to drag an item.
[code]
[code]

## Step to reproduce

1. flutter create testscroll
2. copy paste Reorderable

[2022-03-21 14:34] diegotori commented on #146
@GCamanes can you please create a reproducible example project so that I can better diagnose this issue? Thanks.

[2022-03-21 18:08] fainir opened #147 "Feature Request: Staggered Grid"
Could you create staggered grid like this?
![image](https://user-images.githubusercontent.com/6260146/159336594-0337fc26-6bb7-40e8-aaee-4c75d015653a.png)

Like this library : https://pub.dev/packages/flutter_staggered_grid_view

Thank you very much!

[2022-03-22 12:49] GCamanes commented on #146
Hi @diegotori,

Thanks for answering me. Sure I can provide such a project to you.
Please find it [here](https://github.com/GCamanes/flutter-test-reorderables)

[code]

[2022-03-29 10:03] aaumond commented on #146
Hi @diegotori, did you reproduce the problem mentioned by @GCamanes ?

[2022-04-01 14:43] diegotori commented on #146
@aaumond Haven't had a chance to run it. Might take a stab at it this Sunday.

[2022-04-11 13:40] #126 closed

[2022-04-14 04:34] diegotori commented on #146
@GCamanes managed to download your example project on my dev environment. Will attempt to run it in the next day or two. Sorry for the delay.

[2022-04-18 04:04] diegotori commented on #146
@GCamanes after reviewing your example app, I was able to reproduce the issue. Turns out it was using the `ScrollController` without checking to see if there were any clients attached to it, which caused the exception.

As a result, `ReorderableWrap` now performs that check when calling `_scrollTo` and not scrolling. Hopefully the PR will get approved soon. Otherwise, I'll have to self-approve and

[2022-04-18 06:01] #146 closed

[2022-04-19 07:53] GCamanes commented on #146
hi @diegotori,

Thanks for your time ! I hope it will help a lot of user of this amazing plugin.

[2022-04-22 14:15] adrianjagielak commented on #66
@Levaru Can you share your fork of the package? Or even just the edited files/sample?

Would be very helpful

[2022-04-27 06:42] YouSour opened #149 "table border"
hi , is it possible set table border or not ?
[code]

[2022-05-04 09:27] LiangLuDev opened #150 "How to set the specified item can not be dragged"

[2022-05-04 17:13] LiangLuDev commented on #150
#89

[2022-05-04 17:13] #150 closed

[2022-05-06 02:33] leavky commented on #124
i have the same problem, any solution?

[2022-05-06 03:18] leavky commented on #124
I sloved the problem, give the TextFiled a controller.
[code]
![image](https://user-images.githubusercontent.com/46547390/167061315-391c79e9-26ec-49a3-8486-570650ecfa24.png)

[2022-05-12 15:39] ncosgray opened #152 "Build warning on Flutter 3.0.0"
When building an app with null safety that uses the reorderables package I am seeing the following warnings on Flutter 3.0.0:

../../../.pub-cache/hosted/pub.dartlang.org/reorderables-0.4.4/lib/src/widgets/passthrough_overlay.dart:133:26: Warning: Operand of null-aware operation '!' has type 'SchedulerBinding' which excludes null.
 - 'SchedulerBinding' is from 'package:flutter/src/scheduler/bindin

[2022-05-12 15:41] diegotori commented on #152
Addressed by #151.

[2022-05-12 16:50] sunilguptasg opened #153 "Build warnings with Flutter 3.0.0"
<dir>/.pub-cache/hosted/pub.dartlang.org/reorderables-0.4.4/lib/src/widgets/passthrough_overlay.dart:133:26: Warning: Operand of null-aware operation '!' has type 'SchedulerBinding' which excludes null.
- 'SchedulerBinding' is from 'package:flutter/src/scheduler/binding.dart' ('<dir>/flutter/packages/flutter/lib/src/scheduler/binding.dart').
package:flutter/…/scheduler/binding.dart:1
    if (Sched

[2022-05-12 17:15] sunilguptasg commented on #152
Sorry, so that is available on pub.dev or do I need a git url?

[2022-05-12 17:21] #153 closed, assigned to nobody

[2022-05-12 17:22] sunilguptasg commented on #153
fixed already and available on master

[2022-05-12 19:05] sunilguptasg commented on #124
But then how do you get the long press to work for copy/paste?

[2022-05-12 21:18] diegotori commented on #152
@sunilguptasg version `0.5.0` was published earlier today on `pub.dev`.

[2022-05-13 07:55] sunilguptasg opened #154 "Widget changes after adding to ReorderableColumn ignored"
A widget I have added to ReorderableColumn is a Container with a column. At the time of adding the column has one child. At run time more children are added in the corresponding Build. When dragging only the initial child is visible - and the space occupied by the added children shows up as a blank white area.

buildDraggableFeedback solves the white area issue and only around the initial child -

[2022-05-14 05:57] sunilguptasg opened #155 "Reordering when widget is rebuilding crashes"
I'm using a ReorderableColumn. One of the widgets is a file upload component. On file save, the widget displays a circular progress indicator. If I drag the widget with the animation active, there are several errors. This is due to the widget being unmounted during drag.

Error: setState() called after dispose(): _FilePickerWidgetState#174b4(lifecycle state: defunct, not mounted)

Is it possible t

[2022-05-14 07:47] sunilguptasg commented on #155
The Flutter build-in ReorderableListView works - there are less controls available, but I no longer get any errors.

I'd still like to use Reorderables though if this issue can be fixed.

[2022-05-14 07:48] sunilguptasg commented on #154
The built-in ReorderableListView shows all added children.

[2022-05-14 11:29] janlionly opened #156 "Why The app run in release mode(debug no problem), will lose data and cause elements not to be displayed"

[2022-05-15 02:29] leavky commented on #124
click textFiled and when focus in textFiled you can copy/past

[2022-05-15 15:13] #156 closed

[2022-05-16 06:48] jingluoguo commented on #147
you can try this plugin

[2022-05-16 06:49] jingluoguo commented on #147
hi, bro. you can try this plugin.
https://pub.dev/packages/staggered_reorderable

[2022-05-23 13:54] leavky opened #158 "Not able to drag to end of Wrap"
when the ReorderableWrap's children have many items, can't able to drag to end of Wrap.

![image](https://user-images.githubusercontent.com/46547390/169835239-499c4ae9-8ef8-4ffc-baf8-d4ad6b4d3571.png)

[2022-05-28 20:56] Anders3byg commented on #64
This has not been fixed yet. Im hitting the wall on your 3. example.
However if i switch to ReorderableWrap, it works, so something is wrong with the ReorderableColumn.
Unfortunately Wrap don't work as nicely with my column layout, so hope there is a fix for the Column soon :-)

[2022-05-29 09:12] rivkazi opened #160 "Original state got rendered after finish reordering"
I'm using the reorderable sliverList widget with bloc management, When I finish reordering, the last state(before the reordering) gets rendered again, and only after it, the state from my bloc builder gets rendered. Is there a way to prevent the list from being rendered to the original state which was caused not by the bloc?

[2022-06-07 12:45] sunilguptasg commented on #158
Hi - the behaviour is fine. You need to manually scroll with the Scroll Controller. Let me know if you need some sample code.

This is manual since you may need to scroll differently - for example by the size of the widget being moved, or start scrolling before the widget touches the start/end of visible portion.

[2022-06-09 17:20] yegor-pelykh opened #161 "Decoration of dragging item"
I am using ReorderableWrap widget...
How can I change the style (shadow, decoration) of the draggable item at the time of its dragging?

[2022-06-18 10:27] bugrevealingbme opened #163 "dragging elevation"
I want to disable dragging elevation. I can't see any choices. Any method?

[2022-06-20 14:37] taxbwithu commented on #163
You have a property called "buildDraggableFeedback" which looks like this, so you just need to remove elevation here:

[code]

[2022-06-20 14:38] taxbwithu commented on #161
You have a property "buildDraggableFeedback" which defines what you're looking for:

[code]

[2022-06-20 17:23] bugrevealingbme commented on #163
Thanks. I removed Card widget and everythins is perfect

[2022-07-17 11:45] #57 closed

[2022-08-03 20:17] jbrechbuehl commented on #160
+1

[2022-09-15 10:37] MarnoDev commented on #89
Not work

[2022-09-28 12:34] talski commented on #44
example code still throw this error at **"ReorderableWrap"**

[2022-10-07 00:49] kirpit commented on #133
Hi, thanks for the clarification. This long-pressing behaviour is somehow confusing and/or misleading. I've got into the same situation; tried the wrapper in my own project - didn't work, downloaded and run the example project - didn't work, finally came here to see if any related issue opened, here we're. We might want to set this to false either by default or within the examples to avoid people

[2022-10-11 13:29] CripyIce opened #165 "RTL issues"
Hi there,
I'm trying to implement `ReorderableWrap` for an RTL app and when dragging items it get messed up.

My code:
[code]

Video of the issue:

https://user-images.githubusercontent.com/26387823/195105814-9a42237d-1596-4ab3-a77a-273a07d46e19.mp4

I'm using `reorderables: ^0.5.0` with the following Flutter version:
[code]

[2022-10-12 09:31] CripyIce commented on #165
It seems that this issue is caused by `SingleChildScrollView` having a dynamic `width`.
After wrapping `SingleChildScrollView` with `Column` and set `crossAxisAlignment: CrossAxisAlignment.stretch` it worked fine.
Thanks for this awesome library!

[2022-10-12 09:31] #165 closed

[2022-11-17 10:24] Orlyga01 opened #167 "PrimaryScrollController.of() was called with a context that does not contain a PrimaryScrollController widget thrown after flutter upgrade"
Hi,
I've just upgraded to Flutter 3.6.0-4.0.pre.2 • channel master
After upgrade I get this message:
`I/flutter ( 8048):   _ReorderableFlexContent(dirty, dependencies: [PrimaryScrollController], state:
I/flutter ( 8048): _ReorderableFlexContentState#46973(tickers: tracking 2 tickers))
I/flutter ( 8048):
I/flutter ( 8048): The relevant error-causing widget was:
I/flutter ( 8048):   _ReorderableFlex

[2022-11-26 15:21] vd3d opened #168 "How to create custom widget"
Hi,

I'm currently using this widget: https://pub.dev/packages/flutter_treeview

And I wish to add the possibility to move nodes, ie. change the order, change the parent etc.
So, do you think I can do such with your library, so mixing your library and the treeview library? (Or I must recreate a complete new one).

If yes, can you provides some instructions?

Thanks